<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body style="background-color: lightblue;">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <%= link_to "The Gossip Project", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown", style="width: 25%">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <li style="margin: 7%"> <%= link_to "Contact", contact_path %> </li>
            </li>
            <li class="nav-item active">
              <li style="margin: 7%"> <%= link_to "Team", team_path %> </li>
            </li>
            <% if session[:user_id] == nil %>
            <li class="nav-item dropdown", style="margin-top: 2%; margin-left: 250%">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Log in / Sign up
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Inscription", new_user_path, class: "dropdown-item" %> 
                <%= link_to "Connexion", new_session_path, class: "dropdown-item" %>
              </div>
            </li>
            <% else %>
            <li class="nav-item active">
              <li style="margin: 7%"> <%= link_to "Gossipers", user_index_path %> </li>
            </li> 
            <li class="nav-item active">
              <li style="margin: 7%"> <%= link_to "Messages", user_private_message_index_path(current_user.id) %> </li>
            </li> 
            <li>
              <button type="button" class="btn btn-light", style="margin-top: 13%; margin-left: 250%">
                <%= link_to "Déconnexion", session_path(session[:user_id]), method: :delete %>
              </button> 
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
